*.kdev4
*.ipch
*.opensdf
*.tlog
*.log
*.pdb
*.dll
OpenSim-Win32/OpenSimModel.lib
*.obj
*.cache
*.lastbuildstate
*.idb
*.unsuccessfulbuild
*.exp
*.manifest
*.suo
*.sdf
build/*
*.kate-swp
*.txt
*.metagen
*.exe
*.asm
*.filters
NN/Project1/Project1.vcxproj
*.db
NN/NNtorque.sln
NN/mlp_main.cpp
NN/mlp_train.cpp
NN/mlp_run.cpp
NN/mlp_main.h
